<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About June' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="gravatar">
	</a>
	


	<span class="logo-prompt">{{ prompt }}</span>

</aside>

<div class="header-nav">
      <ul>
        <li class="code"><a href="/tags/code">code</a></li>
        <li class="poetry"><a href="/tags/poetry">poetry</a></li>
        <li class="craft"><a href="/tags/craft">craft</a></li>
        <li class="books"><a href="/tags/books">books</a></li>
        <li class="reflection"><a href="/tags/reflection">reflection</a></li>
      </ul>
    </div>