<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About June' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="gravatar">
		<svg class="open-to-work-ring" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<path id="otw-circle" d="M 133,75 A 58,58 0 1,0 17,75 A 58,58 0 1,0 133,75" fill="none" />
			</defs>
			<text font-family="Avenir, sans-serif" font-size="11" fill="#000" fill-opacity="0.65" letter-spacing="2.5">
				<textPath href="#otw-circle" startOffset="62.5%" text-anchor="middle">open to work</textPath>
			</text>
		</svg>
	</a>
	


	<span class="logo-prompt">{{ prompt }}</span>

</aside>

