article {

  max-width: 500px;
  margin: 0 auto;
  .title {
    line-height: 1.35em;
    text-align: center;
  }
  .divider {
    background: #ddd;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(#ccc),to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    height: 1px;
    margin: 2em 0;
  }
  .center {
    text-align: center;
    margin: 0 auto;
    h1 {
      font-weight: 300;
    }
  }
  blockquote {
    p{
      font-size: 0.95em;
      line-height: 1.35em;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid #000;
    margin: 30px 0;
  }
  p {
    font-family: Lora;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    word-wrap: break-word;
    a {
      font-family: Avenir;
      font-size: 0.85em;
    }
  }
  .footnote {
    border: 0;
  }
  .footnotes {
    margin: 40px 0;
    display: none;
    .reversefootnote {
      border: 0;
    }
  }
}